.container {
    /* width: 16rem; */
    width: fit-content;
    height: 100dvh;

    overflow-x: hidden;
    overflow-y: auto;

    display: flex;
    flex-direction: column;
    scrollbar-width: none;
    scrollbar-color: var(--white-01);
}

@media (max-width: 800px) {
    .container {
        display: none;
    }
}

.top {
    width: 100%;
    height: 8rem;
    display: flex;
    gap: var(--base);
    align-items: start;
    justify-content: space-between;
    /* background: var(--white-01); */
}

.openMenu {
    width: 16rem;
    /*     height: 100%;
    display: flex;
    align-items: center; */
}

.mobile {
    width: 100dvw;
    height: fit-content;
}