@import url('art-css/art.css');
@import url('animation.css');

html {
  scrollbar-width: none;
  display: flex;
  /* opacity: 0; */
  /* animation: fadeInOut 2s ease-in-out forwards; */
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    /* Inicia invisível */
  }

  100% {
    opacity: 1;
    /* Volta a ficar invisível no final */
  }
}

li {
  list-style: none;
}

.art\:log\:red {
  border: solid red 0.5px;
}
