@import url('art-css/art.css');

html {
  scrollbar-width: none;
  opacity: 0;
  animation: fadeInOut 2s ease-in-out forwards;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    /* Inicia invisível */
  }

  100% {
    opacity: 1;
    /* Volta a ficar invisível no final */
  }
}

body {

}

main {

}

li {
  list-style: none;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: var(--black-01);
}

a:hover {
  text-decoration: underline;
}

.art\:log\:red {
  border: solid red 0.5px;
}

