@import url('art-css/art.css');

html {
  scrollbar-width: none;

  opacity: 0;
  animation: fadeInOut 2s ease-in-out forwards;
}

@keyframes fadeInOut {
  0% {
      opacity: 0; /* Inicia invisível */
  }
  100% {
      opacity: 1; /* Volta a ficar invisível no final */
  }
}

header,main,footer {
  padding: var(--base);
  padding-left: var(--_5xl);
  padding-right: var(--_5xl);
}

main {
  width: 100%;
  max-width: 150rem;
  min-height: 100%;
}

.art\:log\:red {
  border: solid red 0.5px;
}

li {
  list-style: none;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: var(--black-01);
}

a:hover {
  text-decoration: underline;
}

.art\:font\:capitalize {
  text-transform: capitalize;
}

.art\:overflow\:hidden {
  overflow: hidden;
}

.art\:overflow\:scroll {
  overflow: scroll;
}

.art\:w\:fit {
  width: fit-content;
}

.art\:h\:fit {
  height: fit-content;
}
